<div class="extra-pagination">
	{{pagination}}
</div>

{{#foreach posts}}

<article class="{{post_class}}">
	<div class="inner">
		<div class="box post-box">
			<h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
			<span class="post-meta">
				<time datetime="{{date format='DD-MM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
			</span>
			<p class="post-excerpt">{{excerpt}}&hellip;</p>
			{{#if tags}}
				<p class="post-meta">
					{{#foreach tags }}
						<a class="post-meta-tag" href="{{url}}" title="{{name}}">{{name}}</a>{{#unless @last}}{{t " - "}}{{/unless}}
					{{/foreach}}
				</p>
				{{/if}}
		</div>
	</div>
</article>

{{/foreach}}

{{pagination}}
